#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    gap: 1rem;

}

.card {
    width: 350px;
    font-family: Arial, sans-serif;
    color: white;
}

.thumb-wrapper {
    position: relative;
}

.thumbnail {
    width: 100%;
    border-radius: 12px;
}

.duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: rgba(0, 0, 0, 0.8);
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 12px;
}

.info {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.channel-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.meta .title {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.meta p {
    margin: 4px 0 0;
    font-size: 13px;
    opacity: 0.8;
}